.layout {
  margin: 3em;

    &-header {
    background-color: var(--color-primary);
    color: var(--color-white);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    margin: 3em 0 2em;
    padding: .5em 1em;

    &__text {
      text-transform: uppercase;
      font-size: var(--font-size-xs);
    }

    &__icon {
      height: 24px;
    }

    #info-icon {
      margin-left: auto;
    }
  }

  &-content {
      display: flex;
      flex-direction: row;
      gap: 3%;
      width: 100%;
      min-height: auto;

      &-aside {
        background-color: var(--color-grey-light);
        width: 32%;
        height: fit-content;
        padding: 1em 1.75em;
        display: flex;
        flex-direction: column;

        &__title {
          margin-right: auto;
          margin-bottom: 18px;
        }

        &__image {
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: 100%;
            border: 2px solid var(--color-grey-dark);
            border-radius: 2px;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            -ms-border-radius: 2px;
            -o-border-radius: 2px;
          }
        }

        &__size {
          align-self: center;
          font-size: var(--font-size-xs);
          margin-top: .5em;
          margin-bottom: 2em;
        }

        &__button {
          padding: 1em 3em;
        }
      }

      &-main {
        width: 65%;
        display: flex;
        flex-direction: column;
        gap: 1em;

        &__title {
          margin-top: .75em;
        }

        &__text {
          font-size: var(--font-size-s);
        }

        &__annotation {
          font-size: var(--font-size-xs);
          text-align: end;
        }

        &__button {
          margin-left: 0;
          display: flex;
          align-items: center;
          justify-content: start;
          gap: 1.75em;
          min-width: 200px;
        }

        &__search-box {
          display: flex;
          justify-content: start;

          &--input {
            border: 1px solid var(--color-grey-dark);
            border-radius: 2px;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            -ms-border-radius: 2px;
            -o-border-radius: 2px;
            padding: 0 .5em;
            width: 40ch;
          }

          &--button {
            margin: 0 .75em 0;
            padding: .75em 1em;
          }
        }

        &__results {
          display: grid;
          width: calc(100% - 12px);
          grid-template-columns: 1fr 1fr 1fr;
          grid-auto-rows: 230px;
          gap: 1.5em;

          @media (max-width: 800px) {
            grid-template-columns: 1fr;
            grid-auto-rows: 280px;
          }


          &--image {
            object-fit: cover;
            height: 100%;
            width: 100%;
          }
        }

        &__separator {
          width: calc(100% - 4px);
          margin-right: 4px;
          height: 2px;
          border: none;
          background-color: var(--color-grey-light);
        }
      }
    }

  @media (max-width: 800px) {
    &-content {
      flex-direction: column;
      gap: 2em;

      &-aside {
        width: auto;
      }

      &-main {
        width: auto;
      }
    }
  }
}
